@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.standardListForm {
  :global {
    .ant-form-item {
      margin-bottom: 12px;
      &:last-child {
        padding-top: 4px;
        margin-bottom: 32px;
      }
    }
  }
}