html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
.bu-card {
  .ant-card-body {
    padding: 25px 20px;
    .ant-tag {
      color: #fff;
      background: #5c5c5c;
      border: none;
      padding: 2px 8px;
      font-size: 10px;
      text-transform: uppercase;
    }
    .head-project {
      font-size: 42px;
      margin-bottom: 0;
      font-weight: bold;
    }
    small {
      font-size: 14px;
      opacity: 0.7;
    }
    .bu-icon {
      position: absolute;
      right: 22px;
      top: 40px;
    }
  }
}
.ant-progress-line{
  width: 75% !important;
  .ant-progress-outer{
    height: 52px;
    .ant-progress-inner{
      border-radius: 8px;
      height: 36px;
      .ant-progress-bg, .ant-progress-success-bg{
        height: 40px !important
      }
    }
  }
}
.client-proj{
  margin-bottom: 8px;
  display: block;
  font-size: 13px;
  max-width: 200px;
  line-height: 16px;
}
.percent{
  color: #D80300;
  padding-left: 3px;
  font-weight: 800;
}
.client-proj-text{
  display: block;
  text-align: right;
  width: 100px;
}
.ant-tag.tag-dashboard{
  background: #F3F6F7;
  border: none;
  color: #5C5C5C;
  padding: 4px 8px;
  font-size: 11px;
}
h2.brand-name{
  width: 220px;
  display: block;
  font-size: 21px;
  line-height: 30px;
  margin-top: 6px;
  font-weight: 600;
  min-height: 60px;
}
.head-client-proj{
  padding-top: 10px;
  padding-bottom: 25px;
}
.ant-card-body p.store{
  margin-bottom: 3px;
}